
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DDD;
  background-color: #fff;
  margin-bottom: 20px;
}

.header > div {
  display: flex;
}
