
.list {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  margin: auto;
  font-size: 1.5rem;
}

.notice {
  color: white;
  text-align: left;
  margin-bottom: 24px;
}

.list-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}