
.icon-button {
  border: 0;
  padding: 0;
  width: 40px;
  height: 37px;
  background-size: 20px 20px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.search-icon-button {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEiIGhlaWdodD0iNDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogPGc+DQogIDxnPg0KICAgPHBhdGggZmlsbD0iIzc3Nzc3NyIgZD0ibTYsNWMtNyw2IC03LDE3IC0wLjYsMjMuOGM2LDYgMTQsNyAyMC41LDNsOCw4LjNjMCwwIDAsMC40IDEuMywwbDUsLTQuN2MwLDAgMCwwIDAsLTEuM2wtOCwtOC40YzQsLTYgMywtMTQuNiAtMi4yLC0yMC4yYy0zLC0zIC03LC01IC0xMiwtNS4yYy00LC0wIC05LDEuNCAtMTIsNC42bDAsMGwtMCwwem0xOS4zLDIwLjRjLTQsNCAtMTEsNCAtMTUuNSwtMC40Yy00LC00IC00LC0xMSAwLjQsLTE1LjVjNCwtNCAxMSwtNCAxNS41LDAuNGM0LDQgNCwxMSAtMC40LDE1LjV6Ii8+DQogIDwvZz4NCiA8L2c+DQo8L3N2Zz4=);
}

.profile-icon-button {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDEiIGhlaWdodD0iNDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogPGc+DQogIDxwYXRoIGZpbGw9IiM3Nzc3NzciIGQ9Im00MC41LDM2YzAsMCAtMiw0IC01LDRsLTMwLDBjLTMsMCAtNSwtNCAtNS4yLC00YzAsMCAwLDAgMCwtMC40czAsLTAuMiAwLjIsLTAuM2wxMy4zLC02LjVjLTEsLTIgLTMsLTUgLTMuNCwtNmMtMSwtMyAtMS40LC00LjYgLTEuNCwtOC41bDAsLTFjMCwtNSAwLjcsLTggMi43LC0xMGMyLC0yIDUsLTMgOC42LC0yLjhsMC4yLDBjNCwwIDcsMSA4LjYsMi44YzIsMiAzLDUgMi43LDEwbDAsMWMwLDQgMCw1IC0xLjQsOC41YzAsMCAtMiw0IC0zLjQsNmwxMy4zLDYuNWMwLDAuM2MwLDAuNGwwIi8+DQogPC9nPg0KDQo8L3N2Zz4=);
}

.cart-icon-button {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTQiIGhlaWdodD0iNDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6c3ZnPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogPGc+DQogIDxjaXJjbGUgcj0iNC42IiBjeT0iMzYiIGN4PSI0NiIgZmlsbD0iIzc3Nzc3NyIvPg0KICA8Y2lyY2xlIHI9IjQuNiIgY3k9IjM2IiBjeD0iMjUiIGZpbGw9IiM3Nzc3NzciLz4NCiANCiAgIDxwYXRoIGZpbGw9IiM3Nzc3NzciIGQ9Im00OSw4bC0zMi41LDBsLTMsLTYuMmwwLDBjLTAuMywtMSAtMSwtMS4zIC0xLjgsLTEuM2wtOSwwYy0xLDAgLTIsMSAtMi4yLDIuMWwwLDAuMmMwLDEgMSwyLjIgMi4yLDIuMmw1LjEsMGwxMC4zLDIyLjZsMC4zLDAuNWwwLjgsMS43bDI5LjgsMGMyLjIsMCA0LC0yIDQsLTRsMCwtMTMuOGMwLC0yLjIgLTIsLTQgLTQsLTRsLTAuMDQsMHptLTEuNCwxNS41YzAsMSAtMC43LDEuNiAtMS41LDEuNmwtMjIuMiwwYy0wLjgsMCAtMS41LC0wLjcgLTEuNSwtMS42bDAsLTAuM2MwLC0wLjkgMC43LC0xLjYgMS41LC0xLjZsMjIuMiwwYzAuOCwwIDEuNSwwLjcgMS41LDEuNmwwLDAuM3ptMCwtOC43YzAsMC45IC0wLjcsMS42IC0xLjUsMS42bC0yNS43LDBjLTAuOCwwIC0xLjUsLTAuNyAtMS41LC0xLjZsMCwtMC4yN2MwLC0wLjkgMC43LC0xLjYgMS41LC0xLjZsMjUuNywwYzAuOCwwIDEuNSwwLjcgMS41LDEuNmwwLDAuM3oiLz4NCiAgDQogPC9nPg0KDQo8L3N2Zz4=);
  background-size: 26px 20px;
}
