
.center-panel-internal {
  margin: 0 auto;
  max-width: 1458px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.display-none {
  display: none;
}

.picture-panel {
  max-width: 280px;
}

.picture-panel .small-image {
  width: 100%;
  border: 0;
  border-radius: 0;
}

@media only screen and (min-width: 600px) {
  .center-panel-internal {
    background-color: unset;
  }

  .picture-panel {
    max-width: 500px;
  }

  .picture-panel .small-image {
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}

@media only screen and (min-width: 992px) {
  .center-panel-internal {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .picture-panel {
    width: 35%;
    max-width: unset;
  }
  
  .picture-sibling-panel {
    width: 64%;
  }
}
