
.list-item {
  margin: auto;
  max-width: 1280px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
  color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

.list-item h1 {
  font-family: 'Abel', sans-serif;
  font-size:48px;
  margin: 0;
}

.list-item h3 {
  font-size: 16px;
  line-height: 0;
  margin-top: 30px;
}

.list-item p {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  line-height: 26px;
}

.data-type {
  margin: 0;
}

.list-item-thumbnail {
  display: flex;
  justify-content: flex-end;
}
